{% extends 'user/base.html' %}

{% block title %} 
login 

{% endblock %}

{% block content %} 
{% load crispy_forms_tags %}
<div class="d-flex justify-content-center align-items-center pt-5">
  <form  method="POST">
    {%csrf_token%}

    <fieldset class="form-group ">
      <legend class = "border-bottom mb-4">Sign In</legend>
      {{form|crispy}}
    </fieldset>

    <fieldset class="form-group fill">
      <input class="btn btn-primary " type="submit" value="Sign In">
    </fieldset>
  </form>
</div>
{% endblock %}